body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    min-height: 100vh;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-custom {
    background-color: #4e73df;
    color: white;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: #2e59d9;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}